* {
box-sizing: border-box;
}


body{
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height:  1.5; 
  font-size: 16 x;
  color: 444;  
  background-color: white ;
}

*:focus{
  outline: 2px dotted #DE2E54;
  outline-offset: 2px \;


}

html {
  scroll-behavior: smooth;
}

/* Container  */

.container {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1160px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
} 


/* site header  */


.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}


.site-header-container {
display: flex;
justify-content: space-between;
align-items: center;
}

/* site-logo */

.site-logo { 
 display: flex;
 text-decoration: none;
 align-items: center;   
 color: #222;
 font-size: 24px;  
 font-weight: 600;

}

 .site-logo-site-footer{
  color: #fff;
 }


.site-logo:hover {
  color: #DE2E54
}

.site-logo:active {
  opacity: 0.6; 
}

.site-logo-img {
  margin-right: 16px;
  border-radius: 50%;
}



 .site-logo-site-footer:active{
  color: #fff;
 }

/* Site nav list */

.sitenav {
   font-size: 14px;
   letter-spacing: 2px;
   text-transform: uppercase;
   font-weight: bold;
}

.sitenav-list { 
display: flex; 
align-items: center;
padding: 0;
margin: 0;
list-style: none;
}

.sitenav-item:not(:last-child) {
 margin: 32px;
}

.sitenav-link {
  display: block;
  text-transform: uppercase;
  color: #222;
  text-decoration: none;

}

.sitenav-link:hover{
  color:#DE2E54
}

.sitenav-link:active{
  opacity: 0.6;
} 


.sitenav-site-footer .sitenav-link {
  color:#fff 
}
 
.sitenav-site-footer .sitenav-link:hover{
  color: #DE2E54;
}

.sitenav-site-footer .sitenav-link:active{
  color: #fff;
  opacity: 0.6;
}
 



/* MAIN LINK  */

.main-link {
padding: 10px 22px;
border: 2px solid transparent;
display: inline-block;
text-decoration: none;
background-color: #DE2E54;
color: #fff;
font-family:"Open Sans",Arial, Helvetica, sans-serif;
text-transform: uppercase; 
font-size: 15 ;
letter-spacing: 2px;
border-radius: 8px ;
}



.main-link:hover{
 border-color: #DE2E54;
  background-color: #fff;
  color: #DE2E54;
}


.main-link:active{
   background-color: #DE2E54;
   color: #fff ;
   opacity: 0.6;
}

.main-link-solid:hover{
  background-color: rgba(222, 46, 84, 0.8);
  border-color: transparent; 
  color: #fff;
}

.main-link-solid:active{
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1; 
}


.main-link-outline {
background-color: transparent;
color: #fff;
border-color: #fff;
}

.main-link-outline:hover{
  background-color: #DE2E54;
  color: #fff;
  border-color: transparent;
}

/* HERO  */

.hero {
  background-color: #0EB4C1;
  color: #fff
}

.hero-content{
width: 500px;
padding-top: 120px;
padding-bottom: 120px;

}

.hero-heading {
margin-top: 0;
margin-bottom: 16px;
font-family: "Open Sans",Arial, Helvetica, sans-serif;
font-size: 36px ;
line-height: 1.2;
}

.hero-text {
  width: 440px;
  margin-top: 0;
  margin-bottom: 36px;
}


.hero-container{
display: flex;
justify-content: space-between;
}

.hero-img {
align-self: flex-end ;
}


/* INDEX-SERVICES  */

.index-services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.index-services-heading {
  margin-top: 0;
  text-align: center;
  font-family:"Open Sans", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase; 
  color: #222;
  margin-bottom: 56px;

}


.index-service {
  display: flex;
  align-items: center;
}

.index-service-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 64px;
  border-radius: 24px;
}

.index-services-list {
  width: 864;
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  margin-bottom: 60px;
}


.index-services-item:not(:last-child) {
margin-bottom: 80px;
}


.index-service-content {
  width: 600px;
}

.index-service-title {
  margin-top: 0;
  margin-bottom: 24px; 
  color: #222;
}


.index-service-description {
  margin: 0;
}


.index-service-actions {
 display: flex;
 justify-content: center;
}

/* CTA  */


.cta{
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #0EB4C1;
  color: #fff;
}


.cta-heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 1.2;
}

.cta-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-links-item:not(:last-child) {
  margin-right: 40px;

}

/* SITE FOOTER  */



 .site-footer{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
  color: #fff;
 }

 .site-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between ;
 }